<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2017 Stamina Framework developers.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<configuration scan="true" scanPeriod="10 seconds">
    <include file="${stamina.conf}/logback-custom.xml"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${stamina.data}/log/app.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{ISO8601} | %5level | %16.16thread | %32.32logger{32} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${stamina.data}/log/app-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE"/>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>%date{ISO8601} | %-5level | %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="OSGI" class="io.staminaframework.runtime.log.bridge.OsgiAppender">
        <!--
            This appender is used by the OSGi platform to get access
            to the latest log entries, through the shell command "log:tail".
            You are free to discard this appender from the configuration
            if you do not intend to use this feature.
         -->
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} | %-5level | %32.32logger{32} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="ASYNC"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="OSGI"/>
    </root>

    <logger name="io.staminaframework" level="INFO"/>

    <!-- You should add your own logging configuration in logback-custom.xml -->
</configuration>
